/**
* hover
* button
* mobile-button
* mobile navigation
* box-shadow
* pd
* mg
* letter-spacing
* bg-color
* color
* overlay
* loading-overlay
* parallax
* header
* top-bar
* flat-slider
* menu
* sub-menu
* blog
* footer
* bottom
* blog-single
* home1
* home2
* home3
* home4
* home5
* about
* course-list
* course-grid
* course-single
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('font-awesome.css');
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?rn6xjl');
    src: url('../fonts/icomoon.eot?rn6xjl#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?rn6xjl') format('truetype'), url('../fonts/icomoon.woff?rn6xjl') format('woff'), url('../fonts/icomoon.svg?rn6xjl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Reset
-------------------------------------------------------------- */

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a,
abbr,
address,
applet,
article,
aside,
audio,
b,
big,
body,
caption,
canvas,
center,
cite,
code,
dd,
details,
dialog,
div,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}


q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none
}

figure {
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

legend {
    white-space: normal
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

button,
input {
    line-height: normal
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0))
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: button;
    border: none
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


/* Repeatable Patterns
-------------------------------------------------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 16px/27px "Poppins", sans-serif;
    color: #8a8a8a;
    font-weight: 400;
    overflow: hidden;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #fbb545;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul,
ol {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

b,
strong {
    font-weight: 900;
}

button {
    border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    padding: 10px 28px;
    line-height: 24px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ffb922;
    border: 2px solid #ffb922;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -moz-border-radius: 2px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    color: #fff;
    background: #ffb922;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="email"] {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 0px 19px;
    color: #333;
    font-size: 16px;
    font-weight: 300;
    border: 1px solid #eeeff1;
    height: 44px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border: 1px solid #ffb922;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100%;
    padding: 14px 21px;
    height: 100px;
}

input[type="checkbox"] {
    display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #c2c2c2;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #c2c2c2;
    opacity: 1;
}


/*hover*/


#footer #footer-widget .widget-nav-menu li a:hover,
.breadcrumbs-inner li a:hover,
#footer #footer-widget .widget-social-media li a:hover {
    color: #fbb545;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#footer #footer-widget .widget-nav-menu li a:hover {
    margin-left: 15px;
}


/*button*/


/*mobile-button*/

.btn-submenu {
    position: absolute;
    right: 0;
    top: 0;
    font: 20px/50px 'FontAwesome';
    text-align: center;
    cursor: pointer;
    width: 55px;
    height: 44px;
}

.btn-submenu:before {
    content: "\f107";
    color: #fff;
}

.btn-submenu.active:before {
    content: "\f106"
}


/*mobile navigation*/

#mainnav-mobi {
    display: none;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    background-color: #222222;
    z-index: 1000;
    top: 100%;
    left: 0;
}

#mainnav-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainnav-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid #333333;
    cursor: pointer
}

#mainnav-mobi ul>li>a {
    text-decoration: none;
    height: 50px;
    line-height: 45px;
    padding: 0 15px;
    color: #fff;
}

#mainnav-mobi>ul>li>ul>li,
#mainnav-mobi>ul>li>ul>li>ul>li {
    position: relative;
    border-top: 1px solid #333333;
}

#mainnav-mobi>ul>li>ul>li>ul>li a {
    padding-left: 70px !important
}

#mainnav-mobi>ul>li>ul>li:first-child a {
    border-top: none;
}


#mainnav-mobi>ul>li>ul>li.active>a {
    color: #fff;
}


/*box-shadow*/


/*pd*/


/*mg*/


/*letter-spacing*/


/*bg-color*/


/*color*/


/*overlay*/


/*loading-overlay*/

#loading-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#loading-overlay .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}

#loading-overlay .loader:before,
#loading-overlay .loader:after {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
    border-radius: 50%;
    background: #fbb545;
}

#loading-overlay .loader:after {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s;
}

@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: .5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}


/*parallax*/

.parallax {
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*header*/

.header .container,
.top-bar .container {
    max-width: 1200px;
}

.header-sticky {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #333;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 0.8s;
    animation-name: fadeInDown;
    animation-duration: 0.8s;
}


/*top-bar*/

.top-bar {
    padding: 30px 0 33px 0;
}

.top-bar .information {
    float: left;
    font-size: 16px;
}

.top-bar .information li {
    display: inline-block;
    padding-right: 27px;
    color: #fff;
}

.top-bar .information li.phone i {
    margin-right: 9px;
}

.top-bar .information li.email i {
    font-size: 15px;
    margin-right: 4px;
    letter-spacing: 3px;
}

.top-bar .information li:last-child {
    padding-right: 0;
}


/*flat-slider*/


/*menu*/

#logo {
    display: inline-block;
}

.address i.fa-phone {
    margin-right: 8px;
}

.address i.fa-envelope {
    margin-right: 8px;
    font-size: 14px;
}


/*sub-menu*/


/*blog*/

.breadcrumbs-inner li {
    display: inline-block;
}

.breadcrumbs-inner li a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.breadcrumbs-inner li:after {
    content: "/";
    padding: 0 6px;
    color: #fff;
}

.breadcrumbs-inner li:last-of-type:after {
    display: none;
}

.breadcrumbs-wrap .title {
    padding-top: 10px;
    line-height: 40px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.widget .widget-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: 500;
    border-bottom: 1px solid #ededed;
}

.sidebar .widget {
    margin-bottom: 48px;
}

.sidebar .widget .widget-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-weight: 500;
    border-bottom: 1px solid #ededed;
}

.sidebar .widget .widget-title span {
    display: block;
    position: relative;
    padding-bottom: 11px;
    color: #333;
    letter-spacing: 0.7px;
}

.sidebar .widget .widget-title span:after {
    content: "";
    position: absolute;
    top: 98%;
    left: 0;
    height: 3px;
    width: 30px;
    background-color: #ffc30c;
}

.widget-categories ul.categories-wrap li {
    margin-bottom: 18px;
}

.widget-categories ul.categories-wrap li a {
    font-size: 16px;
}


/*footer*/

#footer #footer-widget {
    padding-top: 96px;
    padding-bottom: 80px;
}

#footer #footer-widget .logo-footer {
    margin: 6px 0 40px 0;
}

#footer #footer-widget .widget.widget-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 36px;
    color: #333;
}

#footer #footer-widget .widget-nav-menu li {
    margin-bottom: 13px;
}

#footer #footer-widget .widget-nav-menu li a {
    font-size: 17px;
    color: #7a7a7a;
    font-weight: 300;
}

#footer #footer-widget .widget-social-media li {
    display: inline-block;
    padding-right: 26px;
}

#footer #footer-widget .widget-social-media li:last-child {
    padding-right: 0px;
}

#footer #footer-widget .widget-social-media li a i {
    font-size: 17px;
}


/*bottom*/


/*blog-single*/


/*home1*/


/*home2*/


/*home3*/


/*home4*/


/*home5*/


/*about*/

.img-fluid {
    max-width: 100%;
    height: auto;
}


/*course-list*/


/*course-grid*/


/*course-single*/