html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans";
}

@font-face {
    font-family: "ZefaniStencil-Regular";
    src: url(../fonts/ZefaniStencil-Regular.otf);
}

:focus {
    outline: none !important;
}

.scrollable {
    overflow-y: scroll;
}


/* scroll bar start */

::-webkit-scrollbar {
    width: 12px;
}


/* scroll bar end */

#mainnav .menu>li>a {
    padding-right: 25px;
    font-size: 19px;
}

.btn-danger {
    line-height: 33px !important;
    padding: 7px 30px !important;
    border-radius: 30px !important;
}

.btn-danger {
    background-image: linear-gradient( to right, #7526d7 0%, #f269fd 50%, #7526d7 100%);
    border: none;
}

@media (min-width: 992px) {
    .btn-danger:hover {
        background-color: #f3fcfd !important;
        border: 0px;
    }
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
}

.nav-sign {
    margin-left: 108px;
}

.logo-img {
    vertical-align: baseline !important;
}

header .modal-dialog {
    top: 30%;
}

header .modal-body {
    background-image: linear-gradient( to right, #7526d7 0%, #f269fd 50%, #7526d7 100%);
}

.overlay {
    height: inherit;
    position: relative;
    background-color: #00000054;
    z-index: 1;
}


/* about us start*/

.about-us-type1 .content .title {
    font-family: "Work Sans" !important;
}

.modal-bio p {
    font-family: "Work Sans" !important;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
}

.modal-bio .modal-content {
    border-radius: 20px;
    border: 0px;
    background-color: transparent;
}

.modal-bio .modal-body {
    background-image: linear-gradient( to right, #7526d7 0%, #f269fd 50%, #7526d7 100%);
    padding: 15px;
    border-radius: 20px;
}

.modal-bio .modal-dialog {
    top: 20%;
    max-width: 90%;
    margin: auto;
}

.modal-bio .v-cover {
    border-radius: 45px;
}


/* about us end */


/* our services start */

.nav-custom .images-box-portfolio {
    cursor: pointer;
    width: 100%;
    height: 150px;
}

.owl-carousel .owl-item img {
    width: 100%;
    height: 100%;
}

.portfolio-nav-custom .modal.fade {
    opacity: 1;
}

.portfolio-nav-custom .modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
    top: 30%;
    max-width: 300px;
    margin: auto;
}

.images-box-portfolio {
    padding: 5px;
}

.modal-content {
    border-radius: 20px;
    border: 0px;
    background-color: transparent;
}

.modal-body {
    background-image: linear-gradient( to right, #7526d7 0%, #f269fd 50%, #7526d7 100%);
    padding: 15px;
    border-radius: 20px;
}

.portfolio-nav-custom .modal-body h2 {
    color: #fff;
    font-family: "Work Sans";
}


/* .services-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 38%;
}

.services-layer i {
    color: #fff;
    padding: 19px;
    background: linear-gradient( to right, #17aec97c 0%, #94e69978 50%, #17aec978 100%);
    border-radius: 26px;
}

.images-box-portfolio:hover .services-layer i {
    background: linear-gradient( 90deg, rgba(242, 105, 253, 0.5) 0%, rgba(117, 38, 215, 0.5) 100%);
} */

.btn-primary {
    background-image: linear-gradient( to right, #17aec9 0%, #94e699 50%, #17aec9 100%);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: 0px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:hover:active {
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: 0px;
    box-shadow: 0 0 0 0rem rgba(38, 143, 255, 0.5);
}


/* our services end */


/* footer start */

.ind-footer {
    padding: 20px 0px;
}

#footer .ind-footer-widget {
    padding-top: 60px;
}

.ind-background-empty {
    padding-top: 0px;
}

.ind-spinning-circle-bottom {
    right: -14%;
    bottom: -50%;
}

.footer-logo {
    width: 140px;
}


/* footer end */


/* contact start */

.breadcrumbs-wrap .title {
    background: #00000063;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    padding: 0px 20px;
}

.breadcrumbs-inner {
    top: 123px;
    position: relative;
    border-top: 1px solid;
}

.modal-job {
    top: 20%;
}

.modal-job .modal-dialog,
.modal-job .modal-content {
    border: 0px;
    background-color: transparent;
}

.modal-job .contact-style1,
.modal-job .modal-body,
.modal-header .close {
    padding: 0px;
}

.modal-header .close {
    font-size: 2.5rem;
    color: #17aec9;
    opacity: 1;
}

.modal-header {
    border-bottom: 0px;
    padding: 0px;
}

.modal-job .contact-inside {
    padding: 60px 66px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%;
}

.bootstrap-select>.dropdown-toggle {
    padding: 17px 27px;
    background-color: #fff;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    background-color: #fff;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle,
.bootstrap-select .dropdown-toggle:active,
.bootstrap-select>select.mobile-device:active+.dropdown-toggle,
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    border: 1px solid #00cfdd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(216, 217, 219, 0.5);
}

.contact-transform {
    transform: translateY(10%);
}


/* contact end */


/* services start */

.widget-categories ul li {
    width: 100%;
}

p.description {
    font-weight: 500px;
    font-size: 1.25rem;
    margin-top: 20px;
}


/* services end */