@font-face {
    font-family: "ZefaniStencil";
    src: url(fonts/ZefaniStencil-Regular.otf);
}

body {
    font-family: "ZefaniStencil";
}

#mainnav .menu>li>a {
    padding-right: 25px;
    font-size: 19px;
}

.btn-danger {
    line-height: 33px !important;
    padding: 7px 30px !important;
    border-radius: 30px !important;
}

.btn-danger {
    background-color: blueviolet !important;
    border: none;
}

@media (min-width: 992px) {
    .btn-danger:hover {
        background-color: #f3fcfd !important;
        border: 0px;
    }
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
}

.nav-sign {
    margin-left: 108px;
}

.logo-img {
    vertical-align: baseline !important;
}

.modal-backdrop {
    z-index: 0;
}

header .modal-dialog {
    top: 30%;
}

.overlay {
    height: inherit;
    position: relative;
    background-color: #00000054;
    z-index: 1;
}


/* about us start*/

.best-business-type1 .content .title {
    font-family: "ZefaniStencil" !important;
}

.modal-bio p {
    font-family: "ZefaniStencil" !important;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
}

.modal-bio .modal-content {
    border-radius: 20px;
}

.modal-bio .modal-body {
    background: linear-gradient(to right, #17aec9 0%, #94e699 50%, #17aec9 100%);
    padding: 15px;
    border-radius: 20px;
}

.modal-bio .modal-dialog {
    top: 20%;
}

.modal-bio .v-cover {
    border-radius: 45px;
}


/* about us end */


/* our services start */

.nav-custom .images-box-portfolio {
    cursor: pointer;
}

.portfolio-nav-custom .modal.fade {
    opacity: 1;
}

.portfolio-nav-custom .modal.fade .modal-dialog {
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
    top: 30%;
    max-width: 300px;
    margin: auto;
}

.images-box-portfolio {
    padding: 5px;
}

.portfolio-nav-custom .modal-content {
    border-radius: 20px;
}

.portfolio-nav-custom .modal-body {
    background: linear-gradient(to right, #17aec9 0%, #94e699 50%, #17aec9 100%);
    padding: 15px;
    border-radius: 20px;
}

.portfolio-nav-custom .modal-body h2 {
    color: #fff;
    font-family: "ZefaniStencil";
}


/* .services-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 38%;
}

.services-layer i {
    color: #fff;
    padding: 19px;
    background: linear-gradient( to right, #17aec97c 0%, #94e69978 50%, #17aec978 100%);
    border-radius: 26px;
}

.images-box-portfolio:hover .services-layer i {
    background: linear-gradient( 90deg, rgba(242, 105, 253, 0.5) 0%, rgba(117, 38, 215, 0.5) 100%);
} */


/* our services end */


/* footer start */

.footer {
    padding: 20px 0px;
}

#footer #footer-widget {
    padding-top: 60px;
}

.background-empty {
    padding-top: 0px;
}

.spinning-circle-bottom {
    right: -14%;
    bottom: -50%;
}


/* footer end */