/**
* Reset
* Repeatable Patterns
* Hover
* mg
* hv-linear-gradient
* loading-overlay
* header
* btn-menu
* mobile navigation
* rev-slider
* banner-section
* blog-single
* sidebar
* footer
* blog
* contact
* testimonial
* team-members
* portfolio
* faq
* about
* about-us
* facts
* flat-pagination
* scroll-top
* switcher-container
*/

@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");
@import url("font-awesome.css");

/* Reset
-------------------------------------------------------------- */

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a,
abbr,
address,
applet,
article,
aside,
audio,
b,
big,
body,
caption,
canvas,
center,
cite,
code,
dd,
details,
dialog,
div,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

figure {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient( hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: button;
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Repeatable Patterns
-------------------------------------------------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 16px/28px "Karla", sans-serif;
    color: #787878;
    font-weight: 400;
    overflow: hidden;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: #0c1b54;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #00cfdd;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul,
ol {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

b,
strong {
    font-weight: 900;
}

button {
    border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    padding: 12px 28px;
    line-height: 24px;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    background: #cca776;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    color: #fff;
    background-position: right center;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="email"] {
    position: relative;
    display: block;
    width: 100%;
    line-height: 26px;
    padding: 0px 28px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #eeeeee;
    height: 60px;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border: 1px solid #00cfdd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100%;
    padding: 16px 28px;
    height: 213px;
}

input[type="checkbox"] {
    display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
    color: #787878;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #787878;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #787878;
    opacity: 1;
}


/* Hover
-------------------------------------------------------------- */

#mainnav .menu>li>a:hover,
#mainnav .menu>li>a.active,
.breadcrumbs-inner li a:hover,
#footer #footer-widget .widget-nav-menu li a:hover,
#footer #footer-widget .widget-social-media li a:hover,
#footer #footer-widget .widget-social-media li a.active,
.services-box .iconbox-content .read-more a:hover,
.services-box .iconbox-content .read-more a:hover:after {
    color: #00cfdd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav .menu>li>a.active {
    color: #fff;
}


/* mg
-------------------------------------------------------------- */


/* hv-linear-gradient
-------------------------------------------------------------- */

.border-corner {
    border-radius: 36px;
}

.btn-linear .hv-linear {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    display: inline-block;
    text-transform: capitalize;
    background-size: 200% auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-linear .hv-linear:hover {
    background-position: right center;
}

.linear-color-one .hv-linear {
    background-image: linear-gradient( to right, #7526d7 0%, #f269fd 50%, #7526d7 100%);
}

.linear-color-two .hv-linear {
    background-image: linear-gradient( to right, #17adc9 0%, #94e69a 50%, #17adc9 100%);
}


/* loading-overlay
-------------------------------------------------------------- */

#loading-overlay {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#loading-overlay .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}

#loading-overlay .loader:before,
#loading-overlay .loader:after {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    content: "";
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
    border-radius: 50%;
    background: linear-gradient( 90deg, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
}

#loading-overlay .loader:after {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}


/* header
-------------------------------------------------------------- */

.container {
    max-width: 1200px;
}

.main-header {
    width: 100%;
    position: absolute;
    z-index: 99;
}

.header-sticky {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #6244bc;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-name: fadeInDown;
    animation-duration: 1s;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.flex-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    width: 200px;
}

.content-menu {
    width: calc(100% - 200px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.nav-wrap {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

#mainnav .menu li a {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
}

#mainnav .menu>li {
    display: inline-block;
    position: relative;
}

#mainnav .menu>li>a {
    line-height: 100px;
    display: inline-block;
    padding-right: 54px;
    text-transform: capitalize;
}

#mainnav .menu>li:last-child>a {
    padding-right: 0;
}


/* btn-menu
-------------------------------------------------------------- */

.btn-menu {
    display: none;
    float: right;
    position: relative;
    background: transparent;
    cursor: pointer;
    margin: 40px 0;
    width: 26px;
    height: 16px;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    transition: all ease 0.238s;
}

.btn-menu:before,
.btn-menu:after,
.btn-menu span {
    background-color: #00cfdd;
    -webkit-transition: all ease 0.238s;
    -moz-transition: all ease 0.238s;
    transition: all ease 0.238s;
}

.btn-menu:before,
.btn-menu:after {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.btn-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
}

.btn-menu:before {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
}

.btn-menu.active span {
    opacity: 0;
}

.btn-menu.active:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
    width: 50px;
    height: 50px;
    right: 15px;
    top: 0;
    position: absolute;
    font: 20px/50px "FontAwesome";
    text-align: center;
    cursor: pointer;
}

.btn-submenu:before {
    content: "\f107";
    color: #fff;
}

.btn-submenu.active:before {
    content: "\f106";
}


/* mobile navigation
-------------------------------------------------------------- */

#mainnav-mobi {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #230946;
    z-index: 1000;
    position: absolute;
}

#mainnav-mobi ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainnav-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    border-top: 1px solid rgba(0, 207, 221, 0.2);
    cursor: pointer;
}

#mainnav-mobi ul>li>a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

#mainnav-mobi>ul>li>ul>li,
#mainnav-mobi>ul>li>ul>li>ul>li {
    border-top: 1px solid rgba(0, 207, 221, 0.2);
    background-color: #230946;
}

#mainnav-mobi>ul>li>ul>li>ul>li a {
    padding-left: 45px !important;
}

#mainnav-mobi>ul>li>ul>li:first-child a {
    border-top: none;
}

#mainnav-mobi>ul>li>ul>li.active>a {
    color: #fff;
}


/* rev-slider
-------------------------------------------------------------- */

#rev-slider1 ul li .title-slider {
    max-width: 500px;
    font-weight: 700 !important;
    font-family: "Work Sans", sans-serif;
}

#rev-slider1 ul li .get-connect-slider {
    font-weight: 300;
    font-family: "Work Sans", sans-serif;
}

#rev-slider1 ul li .btn-slider a {
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 36px;
    border: 2px solid #ffffff;
    display: inline-block;
    margin: 0 20px 20px 0;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#rev-slider1 ul li .btn-slider a:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 36px;
    position: absolute;
    background: linear-gradient( 90deg, rgba(23, 173, 201, 1) 0%, rgba(148, 230, 154, 1) 100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#rev-slider1 ul li .btn-slider a:hover:before {
    opacity: 1;
    visibility: visible;
}

#rev-slider1 ul li .btn-slider a:hover {
    border: 2px solid transparent;
}

#rev-slider1 ul li .btn-slider a.btn-services {
    padding: 13px 43px 13px 45px;
}

#rev-slider1 ul li .btn-slider a.btn-discover {
    padding: 13px 40px;
}


/* banner-section
-------------------------------------------------------------- */

.banner-section {
    padding: 199px 0 128px 0;
    background-image: url(../images/logo/diamants-blancs.png);
    background-size: cover;
    background-position: center;
}

.banner-section-contact {
    padding: 199px 0 128px 0;
    background-image: url(../images/logo/diamants-blancs.png);
    background-size: cover;
    background-position: center;
}

.page-title {
    color: #ffffff;
}

.breadcrumbs-wrap .title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 4px;
    text-transform: capitalize;
    font-family: "Work Sans", sans-serif;
}

.breadcrumbs-inner li {
    display: inline-block;
    position: relative;
}

.breadcrumbs-inner li a {
    color: #ffffff;
    font-size: 17px;
    text-transform: capitalize;
}

.breadcrumbs ul li:after {
    content: "-";
    padding: 0 0 0 5px;
    color: #ffffff;
}

.breadcrumbs ul li:last-child:after {
    display: none;
}


/* blog-single
-------------------------------------------------------------- */


/* sidebar
-------------------------------------------------------------- */

.sidebar .widget {
    margin-bottom: 57px;
}

.sidebar .widget:last-child {
    margin-bottom: 0;
}

.widget .widget-title {
    font-size: 25px;
    line-height: 28px;
    font-weight: 700;
    color: #0c1b54;
    text-transform: capitalize;
    margin-bottom: 31px;
}

.bg-categories {
    padding: 43px 30px 42px 35px;
    background-color: #f5fbff;
}

.widget-categories ul li {
    margin-bottom: 10px;
}

.widget-categories ul li:last-child {
    margin-bottom: 0;
}

.widget-categories ul li .block-inside {
    display: block;
    z-index: 1;
    padding: 15px 15px 17px 28px;
    background-color: #ffffff;
    border-radius: 4px;
    position: relative;
}

.widget-categories ul li .block-inside:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    position: absolute;
    background: rgb(117, 38, 215);
    background: linear-gradient( 90deg, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.widget-categories ul li .block-inside:hover:before {
    opacity: 1;
    visibility: visible;
}

.widget-categories ul li .block-inside.active {
    background: rgb(117, 38, 215);
    background: linear-gradient( 90deg, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
}

.widget-categories ul li .block-inside:hover a,
.widget-categories ul li .block-inside.active a {
    color: #ffffff;
}


/* footer
-------------------------------------------------------------- */

.footer-background {
    background-image: url("../images/footer/01.png");
    background-size: cover;
}

.background-empty {
    padding-top: 190px;
}

.footer {
    padding: 125px 0 138px 0;
    overflow: hidden;
    position: relative;
}

#footer #footer-widget {
    padding-top: 107px;
}

.pd-footer-69 {
    padding-left: 69px;
}

#footer #footer-widget .widget.widget-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    margin: 8px 0 45px 0;
}

#footer #footer-widget .widget-nav-menu li {
    margin-bottom: 10px;
}

#footer #footer-widget .widget-nav-menu li a {
    font-size: 15px;
    color: #c5c5c5;
}

#footer #footer-widget .widget-social-media li {
    display: inline-block;
    padding-right: 18px;
}

#footer #footer-widget .widget-social-media li:last-child {
    padding-right: 0;
}

#footer #footer-widget .widget-social-media li a {
    color: #c5c5c5;
}

#bottom {
    color: #b4b4b6;
    background-color: #04124a;
}

#bottom .bottom-wrap {
    padding: 9px 0 9px 0;
}

#bottom .bottom-inside #copyright,
#bottom .bottom-inside .address {
    font-size: 15px;
    line-height: 26px;
}


/* blog
-------------------------------------------------------------- */

.flat-row {
    padding: 120px 0 120px 0;
}


/* contact
-------------------------------------------------------------- */

.flat-map {
    height: 500px;
}

.contact-transform {
    transform: translateY(30%);
}

.mg-change-66 {
    margin-top: -66px;
}

.contact-inside {
    padding: 60px 66px 72px 66px;
    border: 3px dashed #a841e6;
    border-radius: 15px;
    background-color: #f6fcff;
}

.contact-inside .col-left {
    width: 29.2%;
}

.contact-inside .col-right {
    width: 70.8%;
    padding: 14px 0 0 30px;
}

.contact-style .title-section {
    margin-bottom: 61px;
}

.contact-options .contact-box {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 26px;
}

.contact-options .contact-box .icon {
    width: 36px;
    line-height: 1.5;
}

.contact-options .contact-box .content-info {
    width: calc(100% - 36px);
}

.contact-options .contact-box .content-info .ct-by {
    font-size: 17px;
    font-weight: 700;
    color: #010c39;
    margin-bottom: 7px;
}

.form-contact .text-wrap {
    margin-bottom: 20px;
}

.form-contact .text-wrap .w-left {
    width: 48%;
}

.form-contact .text-wrap .w-right {
    width: 48%;
    margin-left: 30px;
}

.form-contact .text-wrap input,
.form-contact .message-wrap textarea {
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-contact .text-wrap input:focus,
.form-contact .message-wrap textarea:focus {
    border: 1px solid #00cfdd;
}

.form-contact .message-wrap {
    margin-bottom: 41px;
}

.form-contact .fl-btn .btn-contact {
    font-size: 17px;
    font-weight: 700;
    padding: 15px 43px 19px 44px;
}


/* testimonial
-------------------------------------------------------------- */


/* team-members
-------------------------------------------------------------- */


/* portfolio
-------------------------------------------------------------- */

.our-services .fl-btn a {
    padding: 15px 58px;
}

.our-services-type2 {
    padding: 223px 0 120px 0;
}

.our-services-type2 .title-section {
    max-width: 450px;
}

.images-box-portfolio {
    padding: 35px 22px 19px 23px;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    position: relative;
}

.images-box-portfolio:before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    border-radius: 4px;
    position: absolute;
    background: rgb(242, 105, 253);
    background: linear-gradient( 90deg, rgba(242, 105, 253, 1) 0%, rgba(117, 38, 215, 1) 100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.images-box-portfolio:hover:before {
    opacity: 1;
    visibility: visible;
}

.portfolio-nav-custom .owl-carousel .owl-nav {
    top: -149px;
    right: 0;
    position: absolute;
}

.portfolio-nav-custom .owl-carousel .owl-nav button {
    color: #ffffff;
    border: 2px solid #e3e3e3;
    margin-left: 21px;
    background-color: #ffffff;
}

.portfolio-nav-custom .owl-carousel .owl-nav .owl-prev:after,
.portfolio-nav-custom .owl-carousel .owl-nav .owl-next:after {
    color: #010c39;
}

.portfolio-nav-custom .owl-carousel .owl-nav button:hover {
    border: 2px solid #a841e6;
}


/* faq
-------------------------------------------------------------- */

.accordion .accordion-toggle {
    padding: 21px 35px 19px 36px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(130, 130, 130, 0.1);
    margin-bottom: 21px;
    overflow: hidden;
    position: relative;
}

.accordion .accordion-toggle .toggle-title {
    font-size: 21px;
    line-height: 30px;
    font-weight: 600;
    color: #010c39;
    font-family: "Work Sans", sans-serif;
}

.accordion .accordion-toggle .toggle-content {
    font-size: 16px;
    line-height: 26px;
    margin-top: 14px;
}

.accordion .accordion-toggle .rectangle-1 {
    top: -22px;
    right: -18px;
    position: absolute;
}

.accordion .accordion-toggle .rectangle-2 {
    top: 16px;
    right: 15px;
    position: absolute;
}

.accordion .accordion-toggle .rectangle-3 {
    top: -6px;
    right: 8px;
    position: absolute;
}


/* about
-------------------------------------------------------------- */

.about {
    position: relative;
}

.about .col-left {
    width: 51.3%;
}

.about .col-right {
    width: 48.7%;
    padding-left: 98px;
}

.about .green-dot {
    position: absolute;
}

.about .green-dot.big {
    bottom: 40%;
    left: 9%;
}

.about .green-dot.small {
    bottom: 35%;
    left: 8%;
}

.about .featured-post .entry-image img {
    border-radius: 25px;
}


/* about-us
-------------------------------------------------------------- */

.about-us {
    position: relative;
}

.about-us-type1 {
    padding: 0 0 17px 0;
    background: rgb(242, 105, 253);
    background: linear-gradient( 90deg, rgba(242, 105, 253, 1) 0%, rgba(117, 38, 215, 1) 100%);
    position: relative;
}

.about-us-type1 .green-dot {
    position: absolute;
}

.about-us-type1 .green-dot.big {
    bottom: 24%;
    left: 9%;
}

.about-us-type1 .green-dot.small {
    bottom: 17%;
    left: 8%;
}

.about-us-type1 .rectangle-4 {
    top: 10%;
    right: 6%;
    position: absolute;
}

.about-us-type1 .rectangle-5 {
    top: 5%;
    right: 2%;
    position: absolute;
}

.about-us-type1 .rectangle-6 {
    top: 0;
    right: -1%;
    position: absolute;
}

.about-us-type1 .featured-post {
    z-index: 1;
    position: relative;
    transform: translateY(126px);
}

.about-us-type1 .featured-post .polygon {
    top: -39px;
    right: -39px;
    z-index: -1;
    position: absolute;
}

.about-us-type1 .content {
    padding-left: 67px;
}

.about-us-type1 .content .title {
    font-size: 45px;
    line-height: 56px;
    font-weight: 700;
    margin-bottom: 46px;
    font-family: "Work Sans", sans-serif;
}

.about-us-type1 .content .fl-btn a {
    padding: 13px 43px 17px 44px;
}

.about-us-type1 .pattern1 {
    top: -31px;
    left: -41px;
    z-index: -1;
    position: absolute;
}

.about-us-type1 .pattern2 {
    bottom: 59px;
    right: -148px;
    z-index: -1;
    position: absolute;
}


/* facts
-------------------------------------------------------------- */


/* flat-pagination
-------------------------------------------------------------- */


/* scroll-top
-------------------------------------------------------------- */

#scroll-top.show {
    opacity: 1;
    visibility: visible;
}

#scroll-top {
    position: fixed;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    z-index: 9;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient( 90deg, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
}

#scroll-top:after {
    content: "\f106";
    font-family: "Fontawesome";
    font-size: 20px;
    color: #fff;
}


/* switcher-container
-------------------------------------------------------------- */

.switcher-container {
    position: fixed;
    left: -220px;
    top: 150px;
    width: 220px;
    background-color: #000;
    z-index: 99999;
}

.switcher-container h2 {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    padding-right: 30px;
    margin: 0;
}

.switcher-container h2 a {
    background-color: #000;
    display: block;
    position: absolute;
    right: -45px;
    top: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    outline: 0;
    color: #fff;
}

.switcher-container h2 a.active {
    right: 0;
}

.switcher-container h2 a.active:after {
    position: absolute;
    right: 21px;
    top: 0;
    content: "\f104";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 22px;
}

.switcher-container h2 a.active i {
    display: none;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
    text-decoration: none;
}

.switcher-container h2 i {
    margin-top: 10px;
    font-size: 25px;
    color: #999;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.switcher-container h2 i:hover {
    color: #fff;
}

.switcher-container h3 {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 22px;
    margin-bottom: 10px;
}

.switcher-container .selector-box {
    color: #fff;
    overflow: hidden;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
    background-color: #272727;
    padding: 21px 20px 30px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sw-even {
    background-color: #191919;
    padding: 21px 20px 25px 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sw-even a {
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    letter-spacing: 1.8px;
}

.sw-even a:hover {
    background-color: #32bfc0;
    border: 1px solid #32bfc0;
    color: #fff !important;
}

.sw-light {
    background-color: #fff;
    color: #000 !important;
}

.sw-odd a {
    font-size: 16px;
    color: #fff;
    width: 100%;
    display: inline-block;
    line-height: 17px;
    width: 100%;
    position: relative;
    padding-left: 47px;
}

.sw-odd .ws-colors a:before,
.sw-odd .ws-colors-sub a:before {
    background: none;
}

.sw-odd .ws-colors a,
.sw-odd .ws-colors-sub a {
    position: relative;
    width: auto;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: #333;
    display: inline-block;
    margin-right: 5px;
    overflow: hidden;
}

.sw-odd .ws-colors a.current:before,
.sw-odd .ws-colors-sub a.current_s:before {
    position: absolute;
    left: 8px;
    top: 6px;
    font-family: FontAwesome;
    content: "\f00c";
    color: #fff;
    z-index: 999;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.sw-odd .ws-colors #color1 {
    background: rgb(117, 38, 215);
    background: linear-gradient( 90deg, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
}

.sw-odd .ws-colors #color2 {
    background: rgb(255, 56, 56);
    background: linear-gradient( 90deg, rgba(255, 56, 56, 1) 0%, rgba(255, 211, 76, 1) 100%);
}

.sw-odd .ws-colors #color3 {
    background: rgb(71, 123, 113);
    background: linear-gradient( 90deg, rgba(71, 123, 113, 1) 0%, rgba(0, 191, 143, 1) 100%);
}

.sw-odd .ws-colors-sub #colorsub1 {
    background: rgb(23, 173, 201);
    background: linear-gradient( 90deg, rgba(23, 173, 201, 1) 0%, rgba(148, 230, 154, 1) 100%);
}

.sw-odd .ws-colors-sub #colorsub2 {
    background: rgb(187, 55, 125);
    background: linear-gradient( 90deg, rgba(187, 55, 125, 1) 0%, rgba(251, 211, 233, 1) 100%);
}

.sw-odd .ws-colors-sub #colorsub3 {
    background: rgb(58, 123, 213);
    background: linear-gradient( 90deg, rgba(58, 123, 213, 1) 0%, rgba(0, 210, 255, 1) 100%);
}

.sw-even h3 {
    margin-bottom: 6px;
}

.sw-odd .sw-image {
    margin-bottom: 15px;
}

.sw-odd .sw-image a {
    padding: 0;
    margin-bottom: 5px;
}

.sw-odd .sw-image .sw-buy {
    width: 100%;
    color: #ffffff;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgb(117, 38, 215);
    background: -webkit-linear-gradient( left, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
    background: -o-linear-gradient( left, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
    background: linear-gradient( to right, rgba(117, 38, 215, 1) 0%, rgba(242, 105, 253, 1) 100%);
}